


<%= pluralize('moose', 2) %>

<%= use_google_font('Tangerine') %>

<%= icon_button('glyphicon glyphicon-star', 'button', 'Star buttons are better than regular buttons') %>

<p>Sample Text</p>

<footer>
  <p>Copyright © Zak Weston <%= current_year %></p>
</footer>
